<!DOCTYPE html>
<html>
    <head>
        <title>Practica 2</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../../estilos/estilos.css">
        <meta charset="utf-8">
    </head>
        <body>
              
              <div class="inicio">
              <h1>Cryptography</h1>
              <h2>Carrillo Soto Cristian Eduardo</h2>
              <h2>Cortés Coria Luis David</h2>
              <h2>Saldaña Arcos Hilda Guadalupe</h2>

              <img src="https://64.media.tumblr.com/b72027f08f4ed709adc7539a807e4e6b/492db45d13719f54-04/s540x810/461177ac0d036968b55d7ec4c9713efd57d80267.jpg">
              </div>
    </body>
</html>
