<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../funciones.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Verificación</title>
</head>
<body>
    <label for="archivoSeleccionadoV">Seleccione archivo a verificar</label>
    <br>
    <input type="file" id = "archivoSeleccionadoV">
    <br><br>

    <label for="llavePublica">Seleccione la llave publica del remitente</label>
    <br>
    <input type="file" id = "llavePublica">
    <br><br>

    <!-- <input type="file" id = "firma">
    <br><br> -->

    <button type="submit" onclick="verificar()"> Verificar </button>
    <br><br>
    
</body>
</html>